<h2 mat-dialog-title class="dialog-title">
  {{ data?.id ? 'Editar Cartera' : 'Agregar Cartera' }}
</h2>

<mat-dialog-content class="dialog-content">
  <form [formGroup]="walletForm">
    <div class="form-group">
      <!-- Campo Nombre -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>

      <!-- Campo Descripción -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción</mat-label>
        <input matInput formControlName="description" required>
      </mat-form-field>

      <!-- Campo Fecha -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha de Descuento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="discountDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<!-- Acciones del Modal -->
<mat-dialog-actions class="dialog-actions">
  <button mat-button class="cancel-button" (click)="onCancel()">Cancelar</button>
  <button mat-raised-button class="save-button" (click)="onSave()">
    {{ data?.id ? 'Actualizar' : 'Guardar' }}
  </button>
</mat-dialog-actions>
