a {
  color: #6c757d !important; /* Gris Bootstrap */
  text-decoration: none;
}

a:hover {
  color: black !important; /* Un gris más oscuro al pasar el cursor */
  text-decoration: underline;
}

c-footer {

  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff; /* O el color que prefieras */
  padding: 10px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Opcional: agrega sombra */
}



